.navbar {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  text-decoration: none;
  font-size: 1em;
  margin-right: 3%;
  width: min-content;
  padding: 1%;
  border-bottom: 1px solid black;
  background-color: green;
  color: white;
}
